* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

h1 {
  font-size: 4rem;
  text-align: left;
  padding: 0; 
}

nav a {
  color: #181818;
  padding: 2rem;
  font-size: 2.4rem;
  text-decoration: none;
}


main.hero {
  background-image: url("/imgs/beautiful-young-woman-holding-credit-card-face-smiling-concept-shopping-contactless-payment-standing-white.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 8rem; 
  min-height: calc(100vh - 8rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem; 
}


form {
  width: 100%;
  max-width: 1200px; 
}

.title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border: solid 5px #000;
}
.title-1{
  font-size: 3.6rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

/* Área dos inputs (cards pretos) */
.card-pai {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card-two {
  font-size: 2rem;
  border-radius: 12px;
  background-color: #000;
  padding: 2rem;
  width: 30rem;
  max-width: 100%;
}

input {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  border: solid #e2e609 2px;
}

.btn-1 {
  padding: 1rem 2rem;
  height: 5rem; 
  font-size: 2rem;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  color: #fff;
  align-self: flex-end;
  margin-bottom: 1rem;
}
.editBtn{
  padding: 1rem 2rem;
  height: 5rem; 
  font-size: 2rem;
  border-radius: 8px;
  border: none;
  background-color: #083d88;
  cursor: pointer;
  color: #f3f3f3;
  align-self: flex-end;
  margin-bottom: 1rem;
}
.deleteBtn{
   padding: 1rem 2rem;
  height: 5rem; 
  font-size: 2rem;
  border-radius: 8px;
  border: none;
  background-color: #5f1306;
  cursor: pointer;
  color: #f3f3f3;
  align-self: flex-end;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #1d2122;
}

/* Área do Saldo */
.balance-container {
  text-align: left;
  margin: 2rem 0; 
  color: #000000;
}

.balance-container h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

/* Área do Histórico (Caixa Preta) */
#transactions {
  background-color: #000000;
  margin: 2rem 0; 
  padding: 2rem;
  min-height: 40rem;
  border-radius: 12px;
  width: 100rem;
  color: white; 
}
.balance{
  background-color: #ffffff;
  max-width: 80rem;
  border-radius: 8px;
  max-height: 15rem;
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
.transaction-title{
  font-size: 2.4rem;
  font-weight: 400;
  color: #fcfcfc;
  background-color: #000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border: solid 2px #000;
  text-transform: uppercase;
}
.title-balance{
  font-size: 2.4rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border: solid 2px #000;
  text-transform: uppercase; 
}

.credit {
  background-color:#163516 ;
    color: #ffffff;
}

.debit {
  background-color: #5f1306;
    color: rgb(255, 255, 255);
}

